


<!-- PAGE CONTAINER-->
<div class="page-container">
<!-- HEADER DESKTOP-->
<header class="header-desktop">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="header-wrap">

        <div class="logo">
      <!--################# home.html-->
      <a href="#">
        <style>
p {
  font-family:Brush Script MT, Brush Script Std, cursive;
  padding: 0 20px;
  font-size: 40px;
  color:whitesmoke;
  text-decoration: none; 
}

.one { font-style: oblique; }
</style>
<p class="one"><b>Reader's Cafe</b></p>
<p></p>
      </a>
    </div>
    
    <app-search></app-search>
        <!-- <form class="form-header" onsubmit="return false;" method="GET">
          <input class="au-input au-input-xl" type="text" name="search"
            placeholder="Search for data ..." />
          <button class="au-btn-submit" type="submit">
            Search
          </button>
        </form> -->
    
  <!--   <app-favorite></app-favorite> -->
       
      </div>
      <div class="account-wrap"></div>
    </div>
  </div>
</header>
<!-- END HEADER DESKTOP-->


<!-- MAIN CONTENT-->
 <!-- <app-product-list></app-product-list>  -->
 <router-outlet></router-outlet>

</div>



<!-- END PAGE CONTAINER-->


<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>