
			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section-content section-content-p30">
                    
					<div class="container-fluid">

						<div class="row">
                            <!-- loop over the collection of books -->
                            <div *ngFor="let tempBook of books" class="col-md-12">
                                <!-- <div class="product-box">
                                    <a routerLink="/books/{{tempBook.book_id}}">
                                        <img src="{{tempBook.imageUrl}}" class="img-responsive">
                                    </a>
                                    <br>
                                    <a routerLink="/books/{{tempBook.book_id}}">
                                        <h1>{{tempBook.title}}</h1>
                                    </a>
                                    <br>
                                     <div class="price"> {{tempBook.unitPrice | currency:'USD'}} </div> -->
<!--                                     <button (click)="addToFav(tempBook)" class="btn btn-primary btn-sm">Add to Favorite</button> 
                                </div> -->
                                            <div class="card" style="height: 100%;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{tempBook.title}}</h5>
                                                <p class="card-text">
                                                {{tempBook.description}}
                                                </p>
                                                <p class="card-text">
                                                <b>Authored By</b> {{tempBook.author}}
                                                </p>
                                                <p class="card-text">
                                                <b>Contributed</b> {{tempBook.contributor}}
</p>
                                                <button class="btn btn-primary" (click)="addToFavourite(tempBook.book_id)">Add To Favourite</button>
                                            </div>
                                            </div>

                            <!--if books empty then display a message-->
                            <div *ngIf="books?.length ==0" class ="alert alert-warning col-md-12" role="alert">
                                No Books Found.
                            </div>

                        </div>                      
                    </div>
                </div>
            </div>