
			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section-content section-content-p30">
                    <!-- <h4>Category : {{currentCategoryName}}</h4> -->
                    <hr>

					<div class="container-fluid">

						<div class="row">
                            <!-- loop over the collection of books -->
                            <div *ngFor="let tempBook of books" class="col-md-5">
                                <!-- <div class="product-box">
                                    <a routerLink="/books/{{tempBook.book_id}}">
                                        <img src="{{tempBook.imageUrl}}" class="img-responsive">
                                    </a>
                                    <br>
                                    <a routerLink="/books/{{tempBook.book_id}}">
                                        <h1>{{tempBook.title}}</h1>
                                    </a>
                                    <br>
                                     <div class="price"> {{tempBook.unitPrice | currency:'USD'}} </div> -->
<!--                                     <button (click)="addToFav(tempBook)" class="btn btn-primary btn-sm">Add to Favorite</button> 
                                </div> -->
                                            <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{tempBook.title}}</h5>
                                                <p class="card-text">
                                                {{tempBook.description}}
                                                </p>
                                                <a href="#" class="btn btn-primary">Add To Favourite</a>
                                            </div>
                                            </div>

                            <!--if books empty then display a message-->
                            <div *ngIf="books?.length ==0" class ="alert alert-warning col-md-12" role="alert">
                                No Books Found.
                            </div>

                        </div>

                      
                    </div>
                </div>
            </div>